header {
  height: 50px;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;;
  align-content: center;
}

.titulo{
  
  text-align: right;
  font-size: calc(20px + 2vmin);
  color: red;


}
.botton {
  position: absolute;
  Right: 25px;
  top: 58px;
  color:white;
  background-color:red;
  font-size: 16 px;

  min-height: 8vh;  
}

.input-valor {
  position: absolute;
  Right: 25px;
  top: 150px;
  color:white;
  background-color:red;
  font-size: 16px;

  min-height: 8vh;  
}
.input-cont {
  position: absolute;
  Right: 105px;
  top: 50px;
  color:black;
  background-color:white;
  font-size: 10pt;
  height: 2px;

  min-height: 8vh;  
}
