header {
  height: 50px;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;;
  align-content: center;
}

.titulo{
  
  text-align: right;
  font-size: calc(20px + 2vmin);
  color: red;


}
.botton {
  position: absolute;
  Right: 25px;
  top: 58px;
  color:white;
  background-color:red;
  font-size: calc(10px + 4vmin);

  min-height: 8vh;  
}
